.title {
  text-align: center;

}

img {
  text-align: center;
}

body {
}


button a {
  color: white;
}

header {
  height:50px;
  margin-top: 25px;
}

.jumbotron {

}

p {
  text-align: justify;
}

.col-sm-3, .col-sm-4 {

  background-color: #eee;


  align-items: center;
}
