.title {
  text-align: center;

}

img {
  text-align: center;
}

body {
  padding-top: 70px;
}

button a {
  color: white;
}

header {
  height:50px;
  margin-top: 25px;
}

p {
  text-align: justify;
}

.col-sm-3, .col-sm-4 {
  background-color: #eee;
  align-items: center;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}

#ourcarousel img {
  height: 400px;
  text-align: center;
}

#ourcarousel h1 {

}

.carousel-caption {
  margin-bottom: 100px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}
